<div class="wrapper">
    <div class="content">
        <div class="register_block">
            <div class="register_header">
                <span>Ти готовий розпочати навчання разом з нами?</span>
            </div>
            <div class="register_text">
                <span>Зареєструватись тут легко та просто. <br /> Просто заповни цю форму і все готово</span>
            </div>
            <div class="register_form">
                <form class="form" [formGroup]="form" (ngSubmit)="submit()">
                    <span>Реєстрація</span>
                    <div class="form_name_surname">
                        <input type="text" placeholder="Ім'я" formControlName="name">
                        <input type="text" placeholder="Прізвище" formControlName="surname">
                    </div>
                    <div class="form_email">
                        <input type="text" placeholder="email" formControlName="email">
                    </div>
                    <div class="form_password">
                        <input type="text" placeholder="password" formControlName="password">
                    </div>
                    <div class="register_button">
                        <button type="submit">Приєднатись</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="contact_with_us_block">
            <div class="contact_text">
                <span> Якщо у тебе виникли запитання та є будь які пропозиції для нас. Зв’яжись з нами</span>
            </div>
            <div class="contact_buttons">
                <button>Логін</button>
                <button>Зв'язатись</button>
            </div>
        </div>
    </div>
</div>
